name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3', '3.4', '4.0']
        rails-version: ['7.0', '7.1', '7.2', '8.0', '8.1']
        exclude:
          - ruby-version: '3.3'
            rails-version: '7.0'
          - ruby-version: '3.4'
            rails-version: '7.0'
          - ruby-version: '4.0'
            rails-version: '7.0'
          - ruby-version: '3.4'
            rails-version: '7.1'
          - ruby-version: '4.0'
            rails-version: '7.1'
          - ruby-version: '3.0'
            rails-version: '7.2'
          - ruby-version: '3.0'
            rails-version: '8.0'
          - ruby-version: '3.1'
            rails-version: '8.0'
          - ruby-version: '3.0'
            rails-version: '8.1'
          - ruby-version: '3.1'
            rails-version: '8.1'

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y curl sqlite3

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
        env:
          BUNDLE_GEMFILE: gemfiles/Gemfile.rails-${{ matrix.rails-version }}

      - name: Run Unit tests
        env:
          RAILS_ENV: test
          BUNDLE_GEMFILE: gemfiles/Gemfile.rails-${{ matrix.rails-version }}
        run: bin/unit-test

      - name: Run E2E tests
        env:
          RAILS_ENV: test
          BUNDLE_GEMFILE: gemfiles/Gemfile.rails-${{ matrix.rails-version }}
        run: bin/e2e-test

